@* Template for displaying wine vintage counts inline within the inventory table. *@
<template id="inventory-wine-vintages-template">
    <tr class="group-row group-row--child inventory-inline-parent" data-inline-row>
        <td colspan="10" class="inventory-inline-cell">
            <div class="inventory-inline-container">
                <div class="inventory-inline-status" data-inline-status>Loading vintages&hellip;</div>
                <div class="inventory-inline-empty" data-inline-empty hidden>No bottles for this wine are currently in your inventory.</div>
                <table class="inventory-inline-table" data-inline-table hidden>
                    <thead>
                        <tr>
                            <th scope="col" class="inventory-inline-vintage-header">Vintage</th>
                            <th scope="col" class="inventory-inline-score-header">Score</th>
                            <th scope="col" class="inventory-inline-count-header inventory-inline-bottles-header">Bottles</th>
                            <th scope="col" class="inventory-inline-drinking-window-header">Drinking window</th>
                            <th scope="col" class="inventory-inline-drinking-window-explanation-header">Drinking window explanation</th>
                            <th scope="col" class="inventory-inline-note-header">Your note</th>
                        </tr>
                    </thead>
                    <tbody data-inline-body></tbody>
                </table>
            </div>
        </td>
    </tr>
</template>

<template id="inventory-wine-vintage-row-template">
    <tr class="inventory-inline-row" data-inline-vintage-row>
        <td class="inventory-inline-vintage" data-vintage></td>
        <td class="inventory-inline-score" data-score></td>
        <td class="inventory-inline-count inventory-inline-bottles" data-bottle-count>
            <span aria-hidden="true" data-bottle-count-display></span>
            <span class="sr-only" data-bottle-count-accessible></span>
        </td>
        <td class="inventory-inline-drinking-window" data-drinking-window></td>
        <td class="inventory-inline-drinking-window-explanation" data-drinking-window-explanation></td>
        <td class="inventory-inline-note" data-note></td>
    </tr>
</template>
