@model bool

@{
    var isEnabled = Model;
    var ariaDisabledValue = isEnabled ? null : "true";
    var disabledAttributeValue = isEnabled ? null : "disabled";
}

<button type="button"
        class="wine-surfer-button wine-surfer-button--orange"
        data-make-waves-trigger
        disabled="@disabledAttributeValue"
        aria-disabled="@ariaDisabledValue">
    Make waves
</button>
