<fieldset class="wishlist-fieldset">
    <legend class="wishlist-label">Wishlist</legend>
    <div class="wishlist-select-group">
        <select class="wishlist-select" aria-label="Wishlist"></select>
        <button type="button" class="wishlist-create-toggle">Create new wishlist</button>
    </div>
    <label class="inventory-add-field wishlist-field wishlist-create-field" hidden>
        <span class="inventory-add-label wishlist-label">New wishlist name</span>
        <input type="text"
               class="wishlist-name"
               maxlength="80"
               placeholder="e.g. Summer Sippers"
               aria-label="New wishlist name" />
    </label>
</fieldset>
